#container {
    padding:0 15px;
    position:fixed;
    top:50px;
    left:0;
    right:0;
    bottom:0;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}
/*headline*/

div.page-header {
    position: relative;
    padding-right: 150px;
}

div.page-header img {
    position: absolute;
    height: 70px;
    right: 1em;
}
/*exercise sheets*/

h2 {
    page-break-before: always;
}

h2:first-of-type {
    page-break-before: avoid;
}
/*number tasks*/

body {
    counter-reset: tasks;
}

h3:before {
    content: "Task " counter(tasks)": ";
    counter-increment: tasks;
    font-weight: bold;
}
/*definition lists*/

dd {
    padding-left: 2em;
}

dt {
    color: rgb(87, 164, 218);
}
/*images*/

img {
    page-break-inside: avoid;
}

img.small {
    width: 800px;
    margin: auto;
}

img.half {
    width: 50%;
    margin: auto;
}

img.third {
    width: 33%;
    margin: auto;
}

figure figcaption {
    font-weight: bold;
    margin-bottom:12pt;
}
figure.app {
    text-align:center;
}
figure.app img {
    width:100%;
    max-width:300px;
}
/*todo class*/

.todo {
    background-color: yellow;
    display:none;
}

strong {
    background-color: rgba(161,177,26, 0.7);
    padding: 2px 4px;
    font-size: 90%;
    color: darkgreen;
    border-radius: 4px;
    font-weight: 200;
}

#uml_weather_obj {
    width: 80%;
    height: 80%;

}